/* General body styling - font and background */
body { 
	font-size:80%;
	font-family: "Arial", monospace;
	letter-spacing: 0.15em;
	background-color: #efefef;}
	
/* Page overall backgound colour */
#page { 
	padding: 0px;
	background-color: #ffffff;}
	
/* Logo position and sizing */
#logo {
	width: 200px;
	height: 200px;
	margin: 10px auto 25px auto;}
	
/* Navigation Links styling */
ul {
	width: 900px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;}
li { 
	display: inline;
	margin: 0px 3px; }
	
/* Paragraph styling */
p { 
	text-align: center;
	width: 600px;
	margin: 20px auto 20px auto;
	font-weight: normal;}
	
/* Navigation text styling */
a{
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;}
a:hover, a.on { 
	color: #ffffff;
	background-color: #ffffff:}
	
/* Cointainer styling - Makes the website move with browser */
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

/* Header and footer bar - Colouring and sizing */
.article {
    text-align: center;
}
header {
	background: #d6792c;
	color:white;
	}
footer {
	background: #aaa;
	color:white;
	}
@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
/* Slideshow main body */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right of image */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "previous button" to the left of image*/
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, adds a black background color with some transparency */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text - bottom of image */
.text {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text, top left corner (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation - between slides changing */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}